<div class="row">
  <div class="col-lg-12">
    <div class="main-box clearfix">
      <header class="main-box-header clearfix">
        <h2 class="pull-left">Perguntas</h2>

        <div id="reportrange" class="pull-right">
          <%= link_to 'Nova pergunta', new_question_path, class: 'btn btn-primary' %>
        </div>
      </header>

      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th><span>Título</span></th>
                <th class="text-center"><span>Data de criação</span></th>
                <th class="text-center"><span>Qt. Respostas</span></th>
                <th class="text-center"><span>Privado?</span></th>
                <th class="text-center"><span>Ação</span></th>
              </tr>
            </thead>
            <tbody>
              <% @questions.each do |question| %>
              <tr>
                <td><%= question.title %></td>
                <td><%= l question.created_at %></td>
                <td class="text-center">
                  <b><%= question.answers.size %></b>
                </td>
                <td class="text-center">
                  <span class="label <%= question.privy ? 'label-success' : 'label-danger' %>">
                    <%= question_private_to_literal(question.privy) %>
                  </span>
                </td>
                <td class="text-center">
                  <%= link_to 'Visualizar', question_path(question.id), class: 'btn btn-primary' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <ul class="pagination pull-right">
          <%= will_paginate @questions %>
        </ul>
      </div>
    </div>
  </div>
</div>
